@model List<WebSuaBo.Model.CartItem>
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<style>
    .them {
        background-color: #1815cc;
        border: 1px solid #BDBDBD;
        padding: 7px 14px;
        font-size: 18px;
        color: #fff;
    }

    .mua {
        background-color: #e01313;
        border: 1px solid #BDBDBD;
        padding: 7px 14px;
        font-size: 18px;
        color: #fff;
    }

    .price {
        color: #ff9800 !important;
        font-size: 20px !important;
        line-height: 35px;
        font-weight: 700;
    }

    .radio {
        width: auto;
    }
</style>
<link href="/Asset/Client/css/sp.css" rel="stylesheet" type="text/css" />
<div class="breadcrumbs breadcrumbs bg-light rounded p-1">
    <!-- Breadcrumb NavXT 6.6.0 -->
    <span property="itemListElement" typeof="ListItem"><a property="item" typeof="WebPage" title="Go to Sữa Bột Tốt | Hệ Thống Cửa Hàng SuaBotTot.com." href="/trang-chu" class="home"><span property="name">Trang chủ</span></a><meta property="position" content="1"></span> » <span class="post post-page current-item">Giỏ hàng</span>
    <div class="clearfix"></div>
    <article id="single-page-2019">
        <h1 class="entry-title">Giỏ hàng</h1>
        <div class="entry-content">
            <div class="woocommerce">
                @if (Model.Count > 0)
                {
                    <div class="woocommerce-notices-wrapper">

                        @foreach (var item in Model)
                        {
                            <div class="woocommerce-message" role="alert">
                                <a href="/chi-tiet/@item.Product.MetaTitle-@item.Product.ID" tabindex="1" class="button wc-forward">Tiếp tục xem sản phẩm</a> “@item.Product.Name” đã được thêm vào giỏ hàng.
                            </div>
                            break;
                        }

                    </div>

                    <div id="card-lindo-2019" class="row">

                        <div class="col-12 col-md-9">
                            <form class="woocommerce-cart-form" action="/gio-hang" method="post">

                                <table class="shop_table shop_table_responsive cart woocommerce-cart-form__contents" cellspacing="0">
                                    <thead>
                                        <tr>
                                            <th class="product-remove">&nbsp;</th>
                                            <th class="product-thumbnail">&nbsp;</th>
                                            <th class="product-name">Sản phẩm</th>
                                            <th class="product-price">Giá</th>
                                            <th class="product-quantity">Số lượng</th>
                                            <th class="product-subtotal">Tổng</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        @foreach (var item in Model)
                                        {
                                            <tr class="woocommerce-cart-form__cart-item cart_item">

                                                <td class="product-remove">
                                                    <a href="#" data-id="@item.Product.ID" class="remove" aria-label="Xóa sản phẩm này" data-product_id="52918" data-product_sku="7350107130463">×</a>
                                                </td>

                                                <td class="product-thumbnail">
                                                    <a href="/chi-tiet/@item.Product.MetaTitle-@item.Product.ID"><img width="250" height="250" src="@item.Product.Image" class="attachment-woocommerce_thumbnail size-woocommerce_thumbnail" alt="@item.Product.Name" /></a>
                                                </td>

                                                <td class="product-name" data-title="Sản phẩm">
                                                    <a href="/chi-tiet/@item.Product.MetaTitle-@item.Product.ID">@item.Product.Name</a>
                                                </td>

                                                <td class="product-price" data-title="Giá">
                                                    <span class="woocommerce-Price-amount amount"><bdi>@item.Product.Price<span class="woocommerce-Price-currencySymbol">₫</span></bdi></span>
                                                </td>

                                                <td class="product-quantity" data-title="Số lượng">
                                                    <div class="quantity">
                                                        <label class="screen-reader-text" for="quantity_6121311036bee">@item.Product.Name</label>
                                                        <input type="text" id="quantity_6121311036bee" class="input-text qty text" step="1" min="0" max="" name="cart[c5c1de8c67e9a2261174c9da9565ef31][qty]" data-id="@item.Product.ID" value="@item.Quantity" title="SL" size="4" placeholder="" inputmode="numeric">
                                                    </div>
                                                </td>

                                                <td class="product-subtotal" data-title="Tổng">
                                                    <span class="woocommerce-Price-amount amount"><bdi>@(item.Product.Price*item.Quantity)<span class="woocommerce-Price-currencySymbol">₫</span></bdi></span>
                                                </td>
                                            </tr>
                                        }



                                        <tr>
                                            <td colspan="6" class="actions">
                                                <button id="btnUpdate" type="submit" class="button" name="update_cart" value="Cập nhật giỏ hàng" aria-disabled="false">Cập nhật giỏ hàng</button>
                                            </td>
                                        </tr>

                                    </tbody>
                                </table>
                            </form>
                        </div>
                        <div class="col-12 col-md-3">


                            <div class="cart-collaterals-2019">
                                <div class="cart_totals ">



                                    <table cellspacing="0" class="shop_table shop_table_responsive">

                                        <tbody>
                                            <tr class="cart-subtotal">
                                                <th>Tạm tính</th>
                                                @foreach (var item in Model)
                                                {
                                                    decimal? totalPrice = 0;
                                                    totalPrice += item.Product.Price * item.Quantity;
                                                    <td data-title="Tạm tính"><span class="woocommerce-Price-amount amount"><bdi>@totalPrice<span class="woocommerce-Price-currencySymbol">₫</span></bdi></span></td>
                                                }

                                            </tr>




                                            <tr class="woocommerce-shipping-totals shipping">
                                                <th>Phí giao hàng :</th>
                                                <td>Miễn phí nội thành Hà Nội, Khu vực khác có thể phát sinh <a target="_blank" rel="nofollow" title="chính sách vận chuyển" href="#">Xem thêm...</a></td>
                                            </tr>
                                            <tr class="woocommerce-shipping-totals shipping d-none">

                                                <th>Giao hàng</th>
                                                <td data-title="Giao hàng">
                                                    <ul id="shipping_method" class="woocommerce-shipping-methods">
                                                        <li>
                                                            <input type="hidden" name="shipping_method[0]" data-index="0" id="shipping_method_0_local_pickup7" value="local_pickup:7" class="shipping_method"><label for="shipping_method_0_local_pickup7">Miễn phí nội thành Hà Nội, Khu vực khác có thể phát sinh</label>
                                                        </li>
                                                    </ul>
                                                    <p class="woocommerce-shipping-destination">
                                                        Vận chuyển đến <strong>Hà Nội</strong>.
                                                    </p>



                                                    <form class="woocommerce-shipping-calculator" action="/gio-hang" method="post">

                                                        <a href="#" class="shipping-calculator-button">Đổi địa chỉ</a>
                                                        <section class="shipping-calculator-form" style="display:none;">

                                                            <p class="form-row form-row-wide" id="calc_shipping_country_field">
                                                                <select name="calc_shipping_country" id="calc_shipping_country" class="country_to_state country_select" rel="calc_shipping_state">
                                                                    <option value="">Chọn Quốc gia/Khu vực…</option>
                                                                    <option value="VN" selected="selected">Việt Nam</option>
                                                                </select>
                                                            </p>

                                                            <p class="form-row validate-required form-row-wide address-field" id="calc_shipping_state_field">
                                                                <span>
                                                                    <select name="calc_shipping_state" class="state_select" id="calc_shipping_state" data-placeholder="Tỉnh/Thành phố" placeholder="Tỉnh/Thành phố"><option value="">Chọn một tùy chọn…</option><option value="HANOI">Hà Nội</option><option value="HOCHIMINH">Hồ Chí Minh</option><option value="ANGIANG">An Giang</option><option value="BACGIANG">Bắc Giang</option><option value="BACKAN">Bắc Kạn</option><option value="BACLIEU">Bạc Liêu</option><option value="BACNINH">Bắc Ninh</option><option value="BARIAVUNGTAU">Bà Rịa - Vũng Tàu</option><option value="BENTRE">Bến Tre</option><option value="BINHDINH">Bình Định</option><option value="BINHDUONG">Bình Dương</option><option value="BINHPHUOC">Bình Phước</option><option value="BINHTHUAN">Bình Thuận</option><option value="CAMAU">Cà Mau</option><option value="CANTHO">Cần Thơ</option><option value="CAOBANG">Cao Bằng</option><option value="DAKLAK">Đắk Lắk</option><option value="DAKNONG">Đắk Nông</option><option value="DANANG">Đà Nẵng</option><option value="DIENBIEN">Điện Biên</option><option value="DONGNAI">Đồng Nai</option><option value="DONGTHAP">Đồng Tháp</option><option value="GIALAI">Gia Lai</option><option value="HAGIANG">Hà Giang</option><option value="HAIDUONG">Hải Dương</option><option value="HAIPHONG">Hải Phòng</option><option value="HANAM">Hà Nam</option><option value="HATINH">Hà Tĩnh</option><option value="HAUGIANG">Hậu Giang</option><option value="HOABINH">Hòa Bình</option><option value="HUNGYEN">Hưng Yên</option><option value="KHANHHOA">Khánh Hòa</option><option value="KIENGIANG">Kiên Giang</option><option value="KONTUM">Kon Tum</option><option value="LAICHAU">Lai Châu</option><option value="LAMDONG">Lâm Đồng</option><option value="LANGSON">Lạng Sơn</option><option value="LAOCAI">Lào Cai</option><option value="LONGAN">Long An</option><option value="NAMDINH">Nam Định</option><option value="NGHEAN">Nghệ An</option><option value="NINHBINH">Ninh Bình</option><option value="NINHTHUAN">Ninh Thuận</option><option value="PHUTHO">Phú Thọ</option><option value="PHUYEN">Phú Yên</option><option value="QUANGBINH">Quảng Bình</option><option value="QUANGNAM">Quảng Nam</option><option value="QUANGNGAI">Quảng Ngãi</option><option value="QUANGNINH">Quảng Ninh</option><option value="QUANGTRI">Quảng Trị</option><option value="SOCTRANG">Sóc Trăng</option><option value="SONLA">Sơn La</option><option value="TAYNINH">Tây Ninh</option><option value="THAIBINH">Thái Bình</option><option value="THAINGUYEN">Thái Nguyên</option><option value="THANHHOA">Thanh Hóa</option><option value="THUATHIENHUE">Thừa Thiên Huế</option><option value="TIENGIANG">Tiền Giang</option><option value="TRAVINH">Trà Vinh</option><option value="TUYENQUANG">Tuyên Quang</option><option value="VINHLONG">Vĩnh Long</option><option value="VINHPHUC">Vĩnh Phúc</option><option value="YENBAI">Yên Bái</option></select>
                                                                </span>
                                                            </p>

                                                            <p class="form-row validate-required form-row-wide" id="calc_shipping_city_field">
                                                                <input type="text" class="input-text select2-hidden-accessible" value="" placeholder="Chọn quận huyện" name="calc_shipping_city" id="calc_shipping_city" tabindex="-1" aria-hidden="true" data-placeholder="Chọn quận huyện"><span class="select2 select2-container select2-container--default" dir="ltr" style="width: auto;"><span class="selection"><span class="select2-selection select2-selection--single" aria-haspopup="true" aria-expanded="false" tabindex="0" aria-labelledby="select2-calc_shipping_city-container" role="combobox"><span class="select2-selection__rendered" id="select2-calc_shipping_city-container" role="textbox" aria-readonly="true"></span><span class="select2-selection__arrow" role="presentation"><b role="presentation"></b></span></span></span><span class="dropdown-wrapper" aria-hidden="true"></span></span>
                                                            </p>
                                                        </section>
                                                    </form>

                                                </td>
                                            </tr>






                                            <tr class="order-total">
                                                <th>Tổng</th>
                                                @foreach (var item in Model)
                                                {
                                                    decimal? totalPrice = 0;
                                                    totalPrice += item.Product.Price * item.Quantity;
                                                    <td data-title="Tổng"><strong><span class="woocommerce-Price-amount amount"><bdi>@totalPrice<span class="woocommerce-Price-currencySymbol">₫</span></bdi></span></strong> </td>
                                                }

                                            </tr>


                                        </tbody>
                                    </table>

                                    <div class="wc-proceed-to-checkout">

                                        <a href="/thanh-toan" class="btn btn-danger">
                                            Tiến hành thanh toán
                                        </a>
                                    </div>


                                </div>
                            </div>
                        </div>
                    </div>
                }
                else
                {
                    <article id="single-page-2019">
                        <div class="entry-content">
                            <div class="woocommerce">
                                <div class="woocommerce-notices-wrapper"><p class="cart-empty woocommerce-info">Chưa có sản phẩm nào trong giỏ hàng.</p></div>	<p class="return-to-shop">
                                    <a class="button wc-backward" href="/trang-chu">
                                        Quay trở lại cửa hàng
                                    </a>
                                </p>
                            </div>
                        </div>

                    </article>
                }



            </div>
        </div>

    </article>
</div>
